.box {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px double black;
    top: 400px;
    position: absolute ;
    animation: musk infinite ease-out;
    animation-duration: 2s;
}

@keyframes musk {
    0% {
       transform: rotate(0deg);
       left: 0;
    }
    10% {
        transform: rotate(30deg);
        left:100px;
     }
     20% {
        transform: rotate(60deg);
        left: 200px;
     }
     30% {
        transform: rotate(90deg);
        left: 300px;
     }
     40% {
        transform: rotate(210deg);
        left: 400px;
     }
     50% {
        transform: rotate(240deg);
        left: 500px;
     }
     60% {
        transform: rotate(270deg);
        left: 600px;
     }
     70% {
        transform: rotate(300deg);
        left: 700px;
     }
     80% {
        transform: rotate(330deg);
        left: 800px;
     }
     90% {
        transform: rotate(350deg);
        left: 900px;
     }
     100% {
        transform: rotate(360deg);
        left: 1000px;
     }
}